.result-container {
    /* display: flex; */
    /* justify-content: center; */
}

.result-info {
    color: #333;
     margin-bottom: 10px; 
    overflow: auto;
}

.in-progress {
    color: #555;
}

.success {
    color: #0fc67a;
}

.warning {
    color: #e02e0b;
}

.hidden {
    display: none;
}
